.header__logo {
    width: 142px;
    height: 33px;
    /* border: 1px solid blue; */
}

@media screen and (max-width: 580px) {
    .header__logo {
        width: 103.74px;
        height: 24.4px;
        margin-top: 28px;
        margin-left: 27px;
    }
}